{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Создание релиза
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'releases/css/index.css' %}">
{% endblock %}

{% block body %}
    <h2 align="center">Создание релиза</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <div style="width: 100%; height: 20px"></div>
        <button class="btn btn-success" type="submit">Создать релиз</button>
    </form>

{% endblock %}
